
<nav class="navbar bg-primary text-white px-5">
    <div class="container-fluid">
        <a class="navbar-brand text-white fs-4" href="">Blog App</a>

        <div class="d-flex">
            <div class="nav-item px-3">
                <NavLink class="nav-link text-white fs-5" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link text-white fs-5" href="categories">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Categories
                </NavLink>
            </div>            

            <div class="nav-item px-3">
                <NavLink class="nav-link text-white fs-5" href="blogs/1">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Blogs
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link text-white fs-5" href="dashboard">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dashboard
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link text-white fs-5" href="about">
                    <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> About
                </NavLink>
            </div>            

            <div class="nav-item px-3">
                <NavLink class="nav-link text-white fs-5" href="addBlog">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Blog
                </NavLink>
            </div>

        </div>
    </div>
 </nav>


