@page "/category/{Id:int}"

<PageTitle>Category - </PageTitle>

<PageHero PageHeading="Category" />

<h3>Category</h3>





<MailListSignUpComponent />

@code {
    [Parameter]
    public int? Id {get;set;}
}
