@inject BlogsClient Client

<section class="card p-4 my-4 text-center bg-secondary bg-opacity-10">
<h3 class="pb-4">Featured Blogs</h3>

    <ul class="list-unstyled d-flex flex-wrap align-content-center gap-4 justify-content-center">
    @foreach (BlogModel blog in featuredBlogs!)
    {
            <li class="card flex-grow-1">
            <img src="@blog.ImageUrl" class="card-img-top" alt="image">
            <div class="card-body d-flex justify-content-between align-content-between flex-column h-100">
                <h5 class="card-title">@blog.Name</h5>
                <p class="card-text">@blog.Description</p>
                <a href="/blog/@blog.Id" role="button" class="btn btn-primary">View</a>
            </div>
        </li>
    }
</ul>

<a href="/blogs/1" role="button" class="btn btn-primary w-25 m-auto">View All Blogs</a>

</section>


@code {
    private List<BlogModel>? featuredBlogs;

    protected override void OnInitialized()
    {
       featuredBlogs = Client.GetFeaturedBlogs();
    }
}
