 li{
    height: 240px;
    min-width: 280px;
    max-width: 280px;
}

.category_img{
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    height: 100vh;
}
